.app.dark {
  --bg-color: #1f1f1f;
  --inverted-bg-color: #d0d0d0;

  --primary-color: #032dad;
  --secondary-color: #ee03f6;
  --inverted-primary-color: #aa0033;
  --inverted-secondary-color: #6791fa;
}
