.app.light {
  --bg-color: #d0d0d0;
  --inverted-bg-color: #1f1f1f;

  --primary-color: #aa0033;
  --secondary-color: #6791fa;
  --inverted-primary-color: #032dad;
  --inverted-secondary-color: #ee03f6;
}
